<h3>login pages</h3>

<form id="login_form">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
            value="john.doe@example.com">

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input 
            type="password"
            class="form-control" 
            id="password" 
            name="password"
            value="qwerty"
            >
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script>
    const form = document.getElementById("login_form")
    form.addEventListener("submit", async (e) => {
        e.preventDefault()
        const email = document.getElementById("email").value
        const password = document.getElementById("password").value

        try {
            fetch("http://localhost:3000/api/auth/login", {
                method: "POST",
                headers: {
                    'Content-Type': "application/json"
                },
                body: JSON.stringify({
                    email,
                    password
                })
            }).then((response)=>{
                if(response.ok){
                console.log("success");
                return response.json()
                }else{
                    console.error('login failed')
                }
            }).then((date)=>{
                console.log(data)
            })
              
        } catch (error) {
            console.log(error)
        }
    })
</script>